body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin:0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display:flex;
    height:100vh;
}
.sidebar{
    background-color: black;
    width:20rem;
    border-radius: 1rem;
}

.main-content{
    background-color:   #121212;
    flex:1;
    border-radius: 1rem;
    margin-top:.5rem;
    overflow: auto;
    margin-right:0.5rem;
    padding:0rem 1rem;
}

.music-player{
    background-color:black;
    height:12vh;
    position: fixed;
    bottom: 0px;
    width:100%;
    display:flex;

}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:6.25rem;
    padding: 0.5rem 0.75rem;
    margin:0.5rem 0.5rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option a{
    font-size: 1rem;
    padding:0.7rem;
}
.nav-option i{
    font-size: 1rem;
    padding-left: .7rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    /* padding: 1.2rem 0.75rem; */
    margin:0.5rem 0.5rem;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.lib-option{
    line-height: 2rem;
    opacity: 0.5;
    transition:0.5s;
    padding: 1rem 0rem;
    /* display:flex;
    justify-content: center; */
}

.lib-option:hover{
    opacity:1;
}

.lib-option img{
    height: 1rem;
    padding-left: 0rem;
}
.lib-option a{
    font-size: 1rem;
    padding:0.7rem 3rem 0.7rem 0.7rem;
}
.lib-option i{
    font-size:1rem;
    padding:0.7rem;
}
.boxes{
    width:100%;
}

.lib-box{
    background-color:  #232323;;
    border-radius: .8rem;
    margin:0.5rem 0.5rem 0;
    padding: 0.5rem .5rem;
    height:8rem;
    width:90%;
}

.box-p1{
    font-size: 0.9rem;
    font-weight: 700;
    margin-left:0.5rem;
}

.box-p2{
    font-size:0.74rem;
    opacity: 0.8;
    margin-left:0.5rem;
}
 .badge{
    color:#000;
    margin:.4rem 0.5rem;
    border-radius: 1rem;
    border: none;
    /* padding:0.25rem 1rem; */
    height:1.5rem;
    font-weight: 700;
    transition:.5s;
 }
 .badge:hover{
    transform:scale(1.1);
 }

.sticky-nav{
    position:sticky;
    top:0px;
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    /* padding:.5rem; */
}

.sticky-nav-icons i{
    font-size: 1.25rem;
    margin-right:.5rem;
}


.sticky-nav-btn button{
    font-size: 0.9rem;
    height:1.8rem;
}

@media(max-width:1000px){
    .hide{
        display:none;
    }
}


.card{
    background-color: #151515;
    width:150px;
    border-radius: 0.5rem;
    padding:1rem;
    transition: 0.3s;
    margin:0.5rem .5rem;
}
.card:hover{
    background-color: #232323;
}
.card-container{
    display: flex;  
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom:0;
}

.card-info{
    font-size: .7rem;
    opacity:0.8;
}

.footer{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height:40%;
    width:90%;
    border-top: 1px solid white;
    opacity: .5;
}

.album{
    width:25rem;
    /* border:1px solid white; */
    display: flex;
    align-items: centre;

}

.album img{
    padding:0.5rem;
    position:relative;
}

.title{
     font-size: 0.9rem;
    font-weight: 700;
    margin-left:0.5rem;
    margin-top: 1.4rem;
    margin-bottom: 0;
}
.info{
    font-size:0.74rem;
    opacity: 0.8;
    margin-left:0.5rem;
    margin-top:0;
}
.player{
    display:flex;
    flex-direction: column;
}

.album i{
    /* position:absolute;
    left:20rem; */
    margin-top:2rem;
    margin-left:3rem;
    bottom:2rem;
    opacity:0.5;
    transition:0.2s;
}

.album i:hover{
    opacity:1;
}
.player-controls {
    width:33rem;
    display:flex;
   
    justify-content: center;
    align-items: center;

}

.speed{
    opacity: 0.5;
    font-size: 1.2rem;
    font-weight:500;
    margin:.4rem.5rem .3rem .5rem;
    transition:.2s;
}
.speed:hover{
    opacity:1;
    transform:scale(1.1)
}
.player-controls i{
    font-size: 1.2rem;
    margin:.6rem .7rem .3rem .7rem;
    opacity:0.5;
    transition:.2s;
}

.player-controls i:hover{
    opacity:1;
    transform:scale(1.1)
}


.playbar {
    width:33rem;
    display:flex;
   margin-top:0.4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: .4rem;

}

.playbar span{
    font-size: .6rem;
    margin-left:.5rem;
}
.playback-bar{
    width:20rem;
    appearance: none;
}

.playback-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 1px;
    border-radius: 1rem;
}

.playback-bar::-webkit-slider-thumb {
    appearance: none;
    
    width: 12px;
    height: 12px;
    background: #1db954;
    border-radius: 50%;
    margin-top: -5px; /* Align vertically with track */
    cursor: pointer;
    box-shadow: 0 0 2px #000;
}

.controls{
    width:28rem;
    display:flex;
    /* border:1px solid white; */
    align-content: center;
    justify-content: center;
}

.controls i{
    margin-top:1.15rem;
    padding:1rem;
    opacity: 0.5;
    transition: .2s;
}
.controls i:hover{
    opacity: 1;

}

.controls input{
   margin-top:2.6rem;
   width:8rem;
   appearance: none;
}

.controls input::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 1px;
    border-radius: 1rem;
}

.controls input::-webkit-slider-thumb {
    appearance: none;
    
    width: 12px;
    height: 12px;
    background: #1db954;
    border-radius: 50%;
    margin-top: -5px; /* Align vertically with track */
    cursor: pointer;
    box-shadow: 0 0 2px #000;
}